<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        
        #container {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .canvas-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .canvas-wrapper {
            width: 100%;
            flex-direction: column;
            height: calc(100vh / 40); /* 창 높이를 plot 수로 나눈 값 */
            margin: 0;
            padding: 0;
        }
        
        /* 아래 스타일을 추가해 그리드를 모두 제거합니다. */
        .canvas-wrapper canvas {
            border: none;
        }
    </style>
</head>
<body>
<div id="container">
    <div class="canvas-container">
        {% for i in range(0, 40) %}
        <div class="canvas-wrapper">
            <canvas id="canvas{{ i }}"></canvas>
        </div>
        {% endfor %}
    </div>
</div>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    $(document).ready(function () {
        const getMaxLegendLength = (names) => {
            return names.reduce((max, name) => Math.max(max, name.length), 0);
        };

        const createConfig = (channelName, color,  maxLegendLength) => {
            return {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: channelName,
                        borderColor: color,
                        borderWidth: 1,
                        data: [],
                        fill: false,
                        pointRadius: 0,
                    }],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    hover: {
                        mode: 'nearest',
                        intersect: false
                    },
                    scales: {
                        x: {
                            display: false, // X축 그리드 제거
                            ticks: {
                                display: false //this will remove only the label
                            },
                            gridLines: {
                                display: false
                            },
                        },
                        y: {
                            display: false, // Y축 그리드 제거
                            ticks: {
                                display: false, //this will remove only the label
                                //min: min,
                                //max: max
                            },
                            gridLines: {
                                display: false // Y축 그리드 제거
                            }
                        }
                    },
                    plugins:{
                        tooltip: {
                            enabled: false
                        },
                        legend: {
                        display: true,
                        position: 'left',
                        labels: {
                            color: color,
                            boxWidth: 0,
                            title: {
                                
                            font: {
                                size: 19
                            }
                            }
                        }
                    }
                    },
                }
            };
        };

        const lineCharts = [];
        const channelNames =     [
        "Fp1",
        "AF3",
        "F3",
        "F7",
        "FC5",
        "FC1",
        "C3",
        "T7",
        "CP5",
        "CP1",
        "P3",
        "P7",
        "PO3",
        "O1",
        "Oz",
        "Pz",
        "Fp2",
        "AF4",
        "Fz",
        "F4",
        "F8",
        "FC6",
        "FC2",
        "Cz",
        "C4",
        "T8",
        "CP6",
        "CP2",
        "P4",
        "P8",
        "PO4",
        "O2",
        "hEOG",
        "vEOG",
        "zEMG",
        "tEMG",
        "GSR",
        "Respiration belt",
        "Plethysmograph",
        "Temperature",
    ];
        const colors = ['#FF00FF', '#FF9900', '#FFFF00', '#BAFF1A', '#00FF80', '#00FFFF', '#8000FF', '#FFCCFF',    '#FFD700', '#C71585', '#8A2BE2', '#32CD32', '#00FA9A', '#1E90FF', '#FF6347', '#FF4500',    '#7FFF00', '#ADFF2F', '#20B2AA', '#FFFFE0', '#FFC0CB', '#FF69B4', '#DDA0DD', '#B0E0E6',    '#000080', '#A52A2A', '#D2691E', '#2E8B57', '#8B008B', '#4B0082', '#228B22', '#808000',    '#800080', '#FF1493', '#FFA500', '#FFD700', '#008000', '#00CED1', '#4682B4', '#8B4513'];

      const maxLegendLength = getMaxLegendLength(channelNames);

        for (let i = 0; i < channelNames.length; i++) {
            const canvasId = `canvas${i}`;
            const canvas = document.getElementById(canvasId).getContext('2d');
            const lineChart = new Chart(canvas, createConfig(channelNames[i], colors[i],maxLegendLength));
            lineCharts.push(lineChart);
        }

        const maxDataPoints = 32;

        const source = new EventSource("/eeg_feed_model");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);

            lineCharts.forEach((chart, index) => {
            // labels와 datasets.data 배열의 길이가 최대 데이터 포인트 수를 초과하면 삭제
            if (chart.data.labels.length > maxDataPoints) {
                chart.data.labels.splice(0, 1);
                chart.data.datasets[0].data.splice(0, 1);
            }

            // labels와 datasets.data 배열에 데이터 추가
            chart.data.labels.push(data.time);
            chart.data.datasets[0].data.push(data.value[index]);
            
            chart.update();
            });
            };
    });
</script>
</body>
</html>
